---
layout: default
---

<!-- Gallery section (same as gallery.html) -->
<div class="gallery-container container-fluid full-bleed-mobile position-relative">
  <div class="d-flex overflow-x-scroll flex-nowrap" id="photoScroll">
    {% assign folder = page.folder %}
    {% for photo in site.data.photos[folder] %}
      {% include photo.html name=photo.name alt=photo.alt folder=folder %}
    {% endfor %}
  </div>
  <div class="scroll-indicator" id="scrollIndicator"></div>
</div>

<div class="book-wrapper container px-3 px-md-5">
  <div class="row gx-md-5 gy-5 align-items-start">
    <div class="col-md-6 book-left">
      {{ content }}
    </div>
    <div class="col-md-6 book-right">
        {% assign rest = page.images | slice: 1, page.images.size %}
        {% assign first = page.images[0] %}
        {% include photo.html
            name=first.name
            alt=first.alt
            caption=first.caption
            folder=page.spread_folder
            group=page.spread_folder
            class="lead-img img-fluid mb-4 spinner-img lightbox-img"
        %}
      <!-- Two-column grid -->
      <div class="image-grid">
        {% for image in rest %}
            {% include photo.html
                name=image.name
                alt=image.alt
                caption=image.caption
                folder=page.spread_folder
                group=page.spread_folder
                class="grid-img gallery-img img-fluid mb-3 spinner-img"
            %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

</div>

<script src="{{ '/assets/js/scroll.js' | relative_url }}"></script>