---
layout: default
---

<!-- Gallery section (same as gallery.html) -->
<div class="gallery-container container-fluid full-bleed-mobile position-relative">
  <div class="d-flex overflow-x-scroll flex-nowrap" id="photoScroll">
    {% assign folder = page.folder %}
    {% for photo in site.data.photos[folder] %}
      {% include photo.html name=photo.name alt=photo.alt folder=folder %}
    {% endfor %}
  </div>
  <div class="scroll-indicator" id="scrollIndicator"></div>
</div>

<div class="book-wrapper container px-3 px-md-5">
  <div class="row gx-md-5 gy-5 align-items-start">
    <div class="col-md-6 book-left">
      {{ content }}
    </div>
    <div class="col-md-6 book-right">
      {% assign first = page.images[0] %}
      {% assign rest = page.images | slice: 1, page.images.size %}

      <!-- Lead image -->
      <img
        src="https://media.sheaorourke.com/vermont/spreads/{{ first }}_large.webp"
        alt="Book lead image"
        class="lead-img gallery-img img-fluid mb-4"
        data-full="https://media.sheaorourke.com/vermont/spreads/{{ first }}_large.webp"
        data-caption="{{ first.caption }}"
        data-group="vermont-book"
      >

      <!-- Two-column grid -->
      <div class="image-grid">
        {% for image in rest %}
        <img
          src="https://media.sheaorourke.com/vermont/spreads/{{ image }}_large.webp"
          alt="Book grid image"
          class="grid-img gallery-img img-fluid mb-3"
          data-full="https://media.sheaorourke.com/vermont/spreads/{{ image }}_large.webp"
          data-caption="{{ image.caption }}"
          data-group="vermont-book"
        >
        {% endfor %}
      </div>
    </div>
  </div>
</div>

</div>

<script src="{{ '/assets/js/scroll.js' | relative_url }}"></script>