---
layout: default
---
<div class="gallery-container container-fluid position-relative">
  <div class="d-flex overflow-x-scroll flex-nowrap"
     id="photoScroll"
     data-mobile-layout="{{ page.mobile_layout | default: 'swipe' }}">
    {% assign folder = page.folder %}
    {% for photo in site.data.photos[folder] %}
      {% include photo.html
        name=photo.name
        alt=photo.alt
        folder=folder
        group=folder
        class="gallery-img"
        caption=photo.caption
      %}
    {% endfor %}
  </div>
  <div class="scroll-indicator" id="scrollIndicator"></div>
</div>

</div>
</div>

<script src="{{ '/assets/js/scroll.js' | relative_url }}"></script>