---
layout: default
---
<div class="container py-4 position-relative">
  <div class="gallery d-flex overflow-x-scroll flex-nowrap" id="photoScroll">
    <img class="gallery-img" src="https://media.sheaorourke.com/vermont/photo1.webp">
    <img class="gallery-img" src="https://media.sheaorourke.com/vermont/photo3.webp">
    <img class="gallery-img" src="https://media.sheaorourke.com/vermont/photo2.webp">
    <img class="gallery-img" src="https://media.sheaorourke.com/vermont/photo4.webp">
    <img class="gallery-img" src="https://media.sheaorourke.com/vermont/photo5.webp">
  </div>
</div>

<script src="{{ '/assets/js/scroll.js' | relative_url }}"></script>
