---
layout: default
---
<div class="container py-4 position-relative">
  <div class="gallery d-flex overflow-x-scroll flex-nowrap" id="photoScroll">
    <img class="gallery-img" src="https://media.sheaorourke.com/vermont/porta400_08132024_1-07899-positive-optimised.webp">
    <img class="gallery-img" src="https://media.sheaorourke.com/vermont/porta400_08132024_3-07963-Edit-2-optimised.webp">
    <img class="gallery-img" src="https://media.sheaorourke.com/vermont/porta400_08132024_3-07962-Edit.webp">
  </div>
</div>

<script src="{{ '/assets/js/scroll.js' | relative_url }}"></script>
