---
layout: default
---
<div class="container-fluid p-0">
  <div class="position-relative vh-100 overflow-hidden">
    <img src="https://media.sheaorourke.com/lny/lny-lions_xlarge.webp" 
      class="w-100 h-100 position-absolute top-0 start-0 object-fit-cover" alt="Shea O’Rourke">

    <div class="position-absolute top-50 start-50 translate-middle text-center text-white text-shadow">
      <a class="navbar-brand site-title" href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/images/asset-8.svg' | relative_url }}" alt="Shea O’Rourke Logo" class="site-logo" />
      </a>

              <a class="nav-link" href="{{ "/vermont/" | relative_url }}">
                <img src="{{ '/assets/images/vermont-icon.svg' | relative_url }}" 
                  data-hover="{{ '/assets/images/scribble-vermont-icon.svg' | relative_url }}"
                  alt="Vermont Logo" class="vermont-logo nav-icon" />
              </a>
    </div>
  </div>
</div>
