<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body class="{{ page.body_class }}">
        {% include header.html %}
        <main class="landing-gallery">
    {% include home-section.html 
        id="section-1" 
        desktop_image="https://media.sheaorourke.com/lny/lny-lions_xlarge.webp" 
        mobile_image="https://media.sheaorourke.com/lny/lny-lions_small.webp" 
        logo="/assets/images/lny-icon.svg" 
        hover_logo="/assets/images/lny-icon.svg" 
        link="/lny/" 
        logo_class="section-lny-logo nav-icon" 
    %}
    {% include home-section.html 
        id="section-2" 
        desktop_image="https://media.sheaorourke.com/vermont/horse_large.webp" 
        mobile_image="https://media.sheaorourke.com/vermont/horse_small.webp" 
        logo="/assets/images/vermont-map-icon.svg" 
        hover_logo="/assets/images/fuzzy-vermont.svg" 
        link="/vermont/" 
        logo_class="section-vermont-logo nav-icon" 
    %}
    {% include home-section.html 
        id="section-3" 
        desktop_image="https://media.sheaorourke.com/capecod/friend_on_bridge_large.webp" 
        mobile_image="https://media.sheaorourke.com/capecod/friend_on_bridge_small.webp" 
        logo="/assets/images/cape-cod-map-icon.svg" 
        hover_logo="/assets/images/cape-cod-map-icon.svg" 
        link="/cape-cod/" 
        logo_class="section-capecod-map-logo nav-icon" 
    %}
    {% include home-section.html 
        id="section-4" 
        desktop_image="https://media.sheaorourke.com/guatemala-book/pictures/dog_xlarge.webp" 
        mobile_image="https://media.sheaorourke.com/guatemala-book/pictures/dog_small.webp" 
        logo="/assets/images/guatemala-icon.svg" 
        hover_logo="/assets/images/a-icon.svg" 
        link="/guatemala/" 
        logo_class="section-capecod-map-logo nav-icon" 
    %}
    {% include home-section.html 
        id="section-5" 
        desktop_image="https://media.sheaorourke.com/ironwood/pictures/point_xlarge.webp" 
        mobile_image="https://media.sheaorourke.com/ironwood/pictures/point_small.webp" 
        logo="/assets/images/ironwood-icon.svg" 
        hover_logo="/assets/images/ironwood-icon.svg" 
        link="/ironwood/" 
        logo_class="section-ironwood-logo nav-icon" 
    %}
    {% include home-section.html 
        id="section-6" 
        desktop_image="https://media.sheaorourke.com/fourthofjuly/pictures/starry-night_xlarge.webp" 
        mobile_image="https://media.sheaorourke.com/fourthofjuly/pictures/starry-night_small.webp" 
        logo="/assets/images/fourth-of-july-icon2.svg" 
        hover_logo="/assets/images/fourth-of-july-icon2.svg" 
        link="/ironwood/" 
        logo_class="section-fourth-of-july-logo nav-icon" 
    %}
    <!-- Chevron floating on screen -->
    <div id="floating-chevron" class="position-fixed bottom-0 start-50 translate-middle-x mb-3 z-3 d-none d-md-block">
    <a href="#"><i class="bi bi-chevron-down text-white fs-1"></i></a>
    </div>
    <div id="floating-chevron-up" class="position-fixed top-0 start-50 translate-middle-x mt-3 z-3 d-none d-md-block">
    <button id="chevron-up-button" class="btn p-0 border-0 bg-transparent">
        <i class="bi bi-chevron-up text-white fs-1"></i>
    </button>
    </div>
    </main>
    <div id="scrollIndicator" class="scroll-indicator-vertical d-none d-md-flex flex-column position-fixed start-0 top-50 translate-middle-y z-3 ms-3"></div>
  </body>
</html>

