<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-ENjdO4Dr2bkBIFxQpeo...your full hash"
  crossorigin="anonymous"
/>
<title>{% if page.title %}{{ page.title }} | {% endif %}Shea O'Rourke Portfolio</title>

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<meta name="description" content="Photography portfolio of Shea O'Rourke.">
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-Qpl4Dtu0N5y...your full hash"
  crossorigin="anonymous"
></script>
