<header class="site-header">
  <div class="wrapper">
    <div class="site-title">
      <a href="{{ "/" | relative_url }}">
        <img src="{{ '/assets/images/asset-5.svg' | relative_url }}" alt="Shea O’Rourke Logo" class="site-logo" />
      </a>
    </div>
    <nav>
      <a href="{{ "/overview/" | relative_url }}">
        <img src="{{ '/assets/images/asset-6.svg' | relative_url }}" alt="Overview Logo" class="overview-logo" />
      </a>
      <a href="{{ "/street/" | relative_url }}">
                <img src="{{ '/assets/images/asset-street.svg' | relative_url }}" alt="Street Logo" class="street-logo" />
      </a>
        <a href="https://instagram.com/_sheaorourke" target="_blank" aria-label="Instagram">
                <img src="{{ '/assets/images/asset-7.svg' | relative_url }}" alt="IG Logo" class="ig-logo" />
        </a>
    </nav>
  </div>
</header>
