<div id="lightbox" class="lightbox hidden">
  <button class="lightbox-nav left d-none d-md-block" id="lightboxPrev" aria-label="Previous">&#10094;</button>

  <div class="lightbox-content">
    <img id="lightbox-img" src="" alt="Full Size Image" />
    <div class="scroll-indicator mt-3" id="lightboxDots"></div>
  </div>

  <div id="lightbox-caption" class="lightbox-caption"></div>

  <button class="lightbox-nav right d-none d-md-block" id="lightboxNext" aria-label="Next">&#10095;</button>
</div>
