.section-lny-logo {
  height: 10vh; /* or whatever fits */
  width: auto;
  display: block;
}

.section-vermont-logo {
  height: 10vh; /* or whatever fits */
  width: auto;
  display: block;
}
.section-capecod-logo {
  height: 10vh; /* or whatever fits */
  width: auto;
  display: block;
}
.section-guatemala-logo {
  height: 10vh; /* or whatever fits */
  width: auto;
  display: block;
}