.section-lny-logo {
  height: 10vh; /* or whatever fits */
  width: auto;
  display: block;
}

.section-vermont-logo {
  height: 10vh; /* or whatever fits */
  width: auto;
  display: block;
}
.section-capecod-logo {
  height: 10vh; /* or whatever fits */
  width: auto;
  display: block;
}
.section-capecod-map-logo {
  height: 19vh; /* or whatever fits */
  width: auto;
  display: block;
}
.section-guatemala-logo {
  height: 10vh; /* or whatever fits */
  width: auto;
  display: block;
}
.section-ironwood-logo {
  height: 15vh; /* or whatever fits */
  width: auto;
  display: block;
}

.section-fourth-of-july-logo {
  height: 19vh; /* or whatever fits */
  width: auto;
  display: block;
}